.seconds-counter-container {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2rem;
    font-weight: bold;
    color: #2c3e50;
    flex-direction: column;
}

.clock-icon {
    margin-right: 10px;
}

.counter {
    margin-left: 10px;
}

.buttons-container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
}

.button {
    font-size: 1.5rem;
    font-weight: bold;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    margin-bottom: 10px;
    cursor: pointer;
}

.botones {
    font-size: 1.5rem;
    font-weight: bold;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    margin-bottom: 10px;
    cursor: pointer;
}

.buttons-container {
    display: flex;
    flex-direction: column;
}

.inputsYBoton {
    display: flex;
    flex-direction: column;
}